In [1]:
import sqlite3

In [2]:
pwd

'/Users/kosuke/DS2final'

In [3]:
path = '/Users/kosuke/DS2final'
db_name = 'screen.sqlite'
#DBに接続する（指定したDBファイルが存在しない場合は、新規に作成される）
con = sqlite3.connect(path + db_name)
#DBへの接続を閉じる
con.close()

In [8]:
con = sqlite3.connect(path + db_name)
#print(type(con))

#sqlを実行するためのオブジェクトを取得
cur = con.cursor()

#テーブルを作成するsql
sql_create_table ='CREATE TABLE screen(date real, entertainment real, game real, SNS real, other real);'

#sqlを実行する
cur.execute(sql_create_table)

#必要があればコミットする（データ変更などがあった場合）

con.close()

In [11]:
con = sqlite3.connect(path + db_name)
#print(type(con))

#sqlを実行するためのオブジェクトを取得
cur = con.cursor()

#sqlを用意する
sql_insert_many = "INSERT INTO screen VALUES (?, ?, ?, ?, ?);"

#データをリストで用意する
#エンターテイメント, ゲーム, SNS, その他
screen_list = [
    (1,242,16,63,4),
    (2,269,2,84,130),
    (3,585,11,68,12),
    (4,231,3,37,8),
    (5,211,14,15,2),
    (6,403,4,33,10),
    (7,81,6,12,1),
    (8,575,45,36,70),
    (9,323,59,22,7),
    (10,32,13,39,17),
    (11,114,10,16,20),
    (12,7,60,45,15),
    (13,55,38,88,9),
    (14,160,217,57,13),
   (15,205,143,136,40),
]

#sqlを実行する
cur.executemany(sql_insert_many, screen_list)

#コミット処理(データ操作を反映させる)
con.commit()

con.close()

In [12]:
con = sqlite3.connect(path + db_name)
#print(type(con))

#sqlを実行するためのオブジェクトを取得
cur = con.cursor()

#sqlを用意する
sql_select = 'SELECT * FROM screen;'

#sqlを実行する
cur.execute(sql_select)

for r in cur:
  print(r)

con.close()

(1, 242.0, 16.0, 63.0, 4.0)
(2, 269.0, 2.0, 84.0, 130.0)
(3, 585.0, 11.0, 68.0, 12.0)
(4, 231.0, 3.0, 37.0, 8.0)
(5, 211.0, 14.0, 15.0, 2.0)
(6, 403.0, 4.0, 33.0, 10.0)
(7, 81.0, 6.0, 12.0, 1.0)
(8, 575.0, 45.0, 36.0, 70.0)
(9, 323.0, 59.0, 22.0, 7.0)
(10, 32.0, 13.0, 39.0, 17.0)
(11, 114.0, 10.0, 16.0, 20.0)
(12, 7.0, 60.0, 45.0, 15.0)
(13, 55.0, 38.0, 88.0, 9.0)
(14, 160.0, 217.0, 57.0, 13.0)
(15, 205.0, 143.0, 136.0, 40.0)